@model PagedList.IPagedList<MyBookingRoles.Models.Booking.Artist>
@using PagedList.Mvc
@{
    ViewBag.Title = "ArtistList";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<h1> YOUR ARTISTS</h1>

<div>
    @foreach (var x in Model)
    {
        <div class="panel-default col-sm-3">

           
            <div class="page-header">

                <div class="panel-body">
                    <div class="col-sm-3" style="color:black;"></div>
                    @if (x.ProfilePic != null)
                    {
                        var base64 = Convert.ToBase64String(x.ProfilePic);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                        <img src='@imgsrc' style="width:100px;height:100px" class="img-rounded" />

                    }   <div class="col-sm-9 col-md-6">

                        <h5>
                            <span id="productname" style="color:black">
                                @x.ArtistName
                            </span>
                        </h5>

                        <h5>
                            <span id="productname" style="color:black">
                                @x.LastName
                            </span>
                        </h5>
                        <h5>
                            <span id="productname" style="color:black">
                                <b>Speciality :</b>
                            </span>
                        </h5>

                        <h4>
                            <span id="productname" style="color:black">
                                @x.Speciality
                            </span>
                        </h4>

                    </div>
                </div>
                <div class="add-to-cart">

                    <a class=" btn add-to-cart-btn" href="@Url.Action("Details", "Artists", new { id = x.ArtistID })"><span class=" fa fa-info-circle"></span> Add to cart</a>

                    <a class="btn add-to-cart-btn" href="@Url.Action("Create","Bookings", new { Controller = "Bookings", Action = "Create", id = x.ArtistID })"><span class="fa fa-book"></span>Book</a>
                    <a class="btn add-to-cart-btn" href="@Url.Action("Availability","Artists",new { Controller = "Artists", Action = "Availability", id = x.ArtistID })"> <span class="fa fa-eye"></span>Check availability </a>


                </div>

            </div>

        </div>


    }

</div>
<br />
<br />
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ArtistList", new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))

</div>
<p>

    @if (Request.IsAuthenticated && User.IsInRole("SuperAdmin"))
    {
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Delete", "Delete")
        @Html.ActionLink("Edit", "Edit")
    }
</p>

