@model IEnumerable<MyBookingRoles.Models.Store.Order>
@{
    ViewBag.Title = "Customer Orders";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>My Order List</h2>

<div class=" row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            if (item.Status == "Processing" || item.Status == "On_Its_Way")
            {
            <!--column-->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block">
                        <!--example-->
                        <div class=" vertical">
                            <ul style="background-color:azure">
                                <li>   <label>OrderNo.:</label> <p>gd-bvots-OrderNo</p> @item.OrderId</li>
                                <li>
                                    <label>Payed with:</label>
                                    @item.PaymentType
                                </li>
                               
                                <li>
                                    <label>Date Orderd:</label>
                                    @item.OrderDate
                                </li>
                                <li>
                                    <label>Delivery Address:</label>
                                    @item.CustomerAddress
                                </li>
                                <li>
                                    <label>Details for this Order:</label>
                                    @item.OrderDetails
                                </li>
                                <li>
                                    <label>Booking Status:</label>
                                    @item.Status
                                </li>



                            </ul>
                            <hr />
                            <button class="btn btn-success">
                                @Html.ActionLink("Cancel Order", "Edit", new { id = item.OrderId })
                            </button>

                        </div>

                    </div>
                </div>

            </div>
                    }
                }
            }
            else
            {
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class=" animamted rotateInDownRight slow ">
                    <p style="color:#ff6a00">NO BOOKINGS AVAILABLE AT THE MOMENT</p>
                </div>
                <div>
                    <p> MAKE A @Html.Action("PURCHASE", "ProdCatalogue", "Store")  </p>
                </div>
            </div>

        </div>
    }
</div>
