@model IEnumerable<MyBookingRoles.Models.Booking.Bookings>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h4>Index</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package.PackageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistRateFee)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PackageCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.PackageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistRateFee)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.PackageCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookingID })
            </td>
        </tr>
    }

</table>

